<%-include ('header');-%>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-dark fw-bold">
                    <%= showData.name%>
                        <small class="fs-6">
                            (<%= showData.years%> films)
                        </small> <br>
                        <strong class="fs-6">
                            ID: (<%= showData._id%>)
                        </strong>
                </h1>

            </div>
            <div class="col-md-12">

                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                Directed by
                            </td>
                            <td>
                                <%= showData.directed_by%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Written by
                            </td>
                            <td>
                                <%= showData.written_by%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Produced by
                            </td>
                            <td>
                                <%= showData.produced_by[0]%> <br>
                                    <%= showData.produced_by[1]%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Starting
                            </td>
                            <td>
                                <%= showData.starting[0]%> <br>
                                    <%= showData.starting[1]%> <br>
                                        <%= showData.starting[2]%> <br>
                                            <%= showData.starting[3]%> <br>
                                                <%= showData.starting[4]%>
                            </td>
                        </tr>
                        <tr>
                            <td>Cinematography</td>
                            <td>
                                <%= showData.cinematography%>
                            </td>
                        </tr>
                        <tr>
                            <td>Music By</td>
                            <td>
                                <%= showData.music_by%>
                            </td>
                        </tr>
                        <tr>
                            <td>Edited By</td>
                            <td>
                                <%= showData.edited_by.One%> <br>
                                    <%= showData.edited_by.Two%> <br>
                                        <%= showData.edited_by.Three%>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <%-include ('footer');-%>