<%-include ('header');-%>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-dark fw-bold">
                    <%= showUserData.name[0]%>
                        <%= showUserData.name[1]%>
                            <small class="fs-6">
                                (<%= showUserData.title%>)
                            </small> <br>
                            <strong class="fs-6">
                                ID: (<%= showUserData.email%>)
                            </strong>
                </h1>

            </div>
            <div class="col-md-12">

                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                Age
                            </td>
                            <td>
                                <%= showUserData.age%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Father's Name
                            </td>
                            <td>
                                <%= showUserData.fathers_name%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mother's Name
                            </td>
                            <td>
                                <%= showUserData.mothers_name%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gender
                            </td>
                            <td>
                                <%= showUserData.gender%> <br>

                            </td>
                        </tr>
                        <tr>
                            <td>Nationality</td>
                            <td>
                                <%= showUserData.nationality%>
                            </td>
                        </tr>
                        <tr>
                            <td>Religion</td>
                            <td>
                                <%= showUserData.religion%>
                            </td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>
                                Village : <%= showUserData.address.village%> <br>
                                    Post Office : <%= showUserData.address.post_office%> <br>
                                        Post Code : <%= showUserData.address.post_code%> <br>
                                            Thana : <%= showUserData.address.thana%> <br>
                                                District : <%= showUserData.address.district%>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <%-include ('footer');-%>